<%- include('../layout/adminLayout/adminheader.ejs') %>
<%- include('../layout/adminLayout/adminnav.ejs') %>

<!-- Recent Sales Start -->
<div class="container-fluid pt-5 px-4">
  <div class="container">
    <div class="title">
      <h1>Sales Report</h1>
      <a href="" onclick="downloadPDF()" target="_blank" >Download Pdf</a>

    </div>
    
    <div class="info">
      <table class="table" id="categorytable">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Order ID</th>
            <th scope="col">Total Amount</th>
            <th scope="col">Method</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <% data.reverse().forEach((value, index) => { %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= value.Date.toISOString().substring(0, 10) %></td>
              <td><%= value.orderId %></td>
              <td>₹<%= value.totalAmount %></td>
              <td><%= value.paymentMethod %></td>
              <td><%= value.status %></td>
            </tr>
          <% }) %>
          <% if (data.length === 0) { %>
            <tr>
              <td colspan="6">No orders found for the selected date range.</td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <h3>Total Sales: $<%= total %></h3>
  </div>
  <!-- Table End -->
</div>
<!-- Table End -->

<script>
  function downloadPDF() {
    var details = document.getElementById("categorytable");
    var newWin = window.open('', 'Print-Window');
    newWin.document.open();
    newWin.document.write('<html><head><style>@media print { @page { size: A4; margin: 0; } }</style></head><body>');
    newWin.document.write(details.outerHTML);
    newWin.document.write('</body></html>');
    newWin.document.close();
    setTimeout(function () { newWin.print(); }, 10);
  }
</script>


<%- include('../layout/adminLayout/adminfooter.ejs') %>
